.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #f4f7fa;
  background-image: url("https://as1.ftcdn.net/v2/jpg/06/81/47/82/1000_F_681478236_98a7qPvUv9spO8t705Xl92Z7GHX5NFXt.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}

.containerRight {
  position: relative;
  flex: 1;
  padding: 48px;
  overflow-y: auto;
  background-color: rgba(244, 247, 250, 0.9);
}

/* --- Responsive Design --- */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .containerRight {
    width: 100%;
    padding: 24px;
  }
}
